h2, tr {
    text-align: center;
}

table {
    border: 1px solid grey;
    width: 100%;
    border-collapse: collapse;
    height: 70%;
}

td {
    width: 50%;
}

img {
    height: 40%;
    width: 50%;
}

p {
    background-color: grey;
    text-align: center;
}

#young_female {
    background-color: rgb(245, 141, 150);
}

#old_female {
    background-color: rgb(252, 93, 154);
}

#old_male {
    background-color: rgb(21, 22, 94);
}

#young_male {
    background-color: rgb(36, 99, 182);
}

