{% extends "base.html" %}

{% block content %}
    <h2>Оформление каюты</h2>
    <table>
        <tr><th>Цвет стен</th><th>Эмблема</th></tr>
        {% if sex == 'male' and age < 21 %}
            {% set color = "young_male" %}
            {% set img = "img/young.png" %}
        {% elif sex == 'male' and age >= 21 %}
            {% set color = "old_male" %}
            {% set img = "img/old.jpg" %}
        {% elif sex == 'female' and age < 21 %}
            {% set color = "young_female" %}
            {% set img = "img/young.png" %}
        {% else %}
            {% set color = "old_female" %}
            {% set img = "img/old.jpg" %}
        {% endif %}
        <tr><td id="{{ color }}"></td><td><img src="{{ url_for('static', filename=img) }}"></td></tr>
    <table>

{% endblock %}