{% extends "base.html" %}

{% block content %}
    <div id="main_div">
        <h1><img src="{{ url_for('static', filename='img/MARS-2-7.png') }}">Аварийный доступ</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.id_astronaut.label }}<br>
                {{ form.id_astronaut(class="form-control") }}<br>
                {% for error in form.id_astronaut.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            </p>
            <p>
                {{ form.password_astronaut.label }}<br>
                {{ form.password_astronaut(class="form-control", type="password") }}<br>
                {% for error in form.password_astronaut.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            </p>
            <p>
                {{ form.id_captain.label }}<br>
                {{ form.id_captain(class="form-control") }}<br>
                {% for error in form.id_captain.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            </p>
            <p>
                {{ form.password_captain.label }}<br>
                {{ form.password_captain(class="form-control", type="password") }}<br>
                {% for error in form.password_captain.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            </p>
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        </form>
    </div>

{% endblock %}